# Ignore combined files
Discovery/DNS/dns-full.txt
Discovery/Web-Content/webcontent-full.txt
Fuzzing/XSS/xss-full.txt
Fuzzing/User-Agents/useragent-full.txt
Fuzzing/LFI/lfi-full.txt
Passwords/passwords-full.txt
Usernames/usernames-full.txt

# SecLists ignores (kept for prosterity)
.DS_Store
.*.icloud
.gitkeep
.idea
